button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
}

.mynavbar {
    background-color: #020002;
}

.filler {
    background-color: transparent;
    width: 70px;
}
